:root {
    --primary: #00baf2;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
  }
  
* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  } 
  
body {
    margin: 0;
    padding: 0;
    height: 100%;
}



.fundo_escurecido{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('imagens/hrz-5.jpg');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    filter: brightness(30%);
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.imagem-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    justify-content: space-between;
    height: 100vh;
}


.conteiner_titulo{
    color: var(--primary)
}

.conteudo {
    font-family: 'Montserrat';
    position: relative;
    z-index: 1;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 230px;

}
    


.conteiner_evento {
    color: #ffffff;
    font-family: 'Montserrat';
}

.conteiner_data {
    color: var(--text-color);
}

.conteiner_data strong{
    color: var(--primary)
}


.formulario {
    position: relative;
    padding: 15px;
    background-color: var(--secondary);
    font-size: 20px;
    margin-right: 150px;
    width: 20%;
    height: 42%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
     
}

.formulario .pree {
    color: var(--text-secondary);
    font-size: 25px;
    font-family: 'Montserrat';
}

.tags_info {
    color: var(--text-tertiary);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Montserrat';
    color: var(--text-tertiary);
    height: auto;
    padding: 1rem; /* Usa rem para padding */
    font-size: 1rem; /* Usando rem para fontes relativas */
    box-sizing: border-box; /* Inclui o padding e border no tamanho do elemento */

}

.tags_info input{
    border-radius: 5px;
    border: none;
    border-color: var(--secondary);
    width: 100%;
    height: 15%;
    font-family: 'Montserrat';
    color: var(--secondary);
    height: auto;
    padding: 3px;
}



.tags_info .botao{
    background-color:var(--primary);
    color: var(--text-color);
    border: none;
    margin-bottom: 10px;
    height: 40px;
}

.tags_info select {
    font-family: 'Montserrat';
    border-radius: 5px;
    width: 100%;
    height: 12%;
    border: none;
    color: var(--text-secondary);
    font-weight: bold;
    height: auto;
    padding: 3px;
}

.nome,
.email,
.tell,
.principal_interesse {
    font-size: 17px;
}


.aprender {
    color: #2b2b2b;
    height: 150px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 'Montserrat';
    margin-top: -20px;
}

.fullimagem {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    
}

.imagem1 img{
    background-position: center;
    background-size: cover;
    display: block;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
    margin-left: 150px;

}

.imagem2 img{
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
}

.imagem3 img{
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
    margin-right: 150px;

}


.imgtext1,
.imgtext2,
.imgtext3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtext1 {
    margin-left: 120px;
}

.imgtext3 {
    margin-right: 120px;
}

.imglocal{
    background-image: url(imagens/hrz-1.jpg);
    filter: brightness(30%);
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 2000px;
    
}

.textoall{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 30rem;
}

.textendereco1 {
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 160px;
}

.textendereco2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Montserrat';
    font-size: 20px;

}

.textendereco2 h1 {
    color: var(--primary);
}

.textendereco2 p {
    color: var(--text-color);
}

